@font-face {
    font-family: bold;
    src: url(/font/Vazir-Bold.woff2);
}
@font-face {
    font-family: medium;
    src: url(/font/Vazir-Medium.woff2);
}
@font-face {
    font-family: thin;
    src: url(/font/Vazir-Thin.woff2);
}