@use"./_reset.scss";
@use"./_font.scss";

@mixin  position($top,$left,$position:relative){
    top: $top;
    left: $left;
    position: $position;
}

body{
    direction: rtl;
    font-family: medium;
    height: 3000px;

    main{

        header{

            img.a{
                @include position(50px,-150px , )
            }

            img.s{
                @include position(50px,-250px , )
            }

            img.b{
                @include position(50px,-400px , )
            }

            p.a{
                @include position(50px,-10px , )
            }

            p.s{
                @include position(-25px,-430px , )
            }

            p.b{
                @include position(-100px,-885px , )
            }

            p.p{
                position: relative;
                left: -550px;
                top: -40px;
                font-family: thin;
            }

            img.first{
                position: relative;
                width: 850px;
                height: 250px;
                top: -170px;
                left: -200px;
                border-radius: 10px;
                display: inline-block;
            }

            img.two{
                display: inline-block;
                position: relative;
                left: 720px;
                top: 170px;
                width: 400px;
                height: 300px;
            }

            div.new{
                position: relative;
                background-color: rgb(215, 215, 215);
                display: flex;
                width: 100vw;
                height: 500px;
                top: -200px;
                left: 2px;
                padding-top: 20px;
                padding-right: 100px;
                align-items: flex-start;
                justify-content: space-around;
                padding-left: 100px;
                flex-wrap: wrap;


                div{
                    display: flex;
                    width: 4000px;
                    justify-content: space-around;
                    
                    img{
                        width: 50px;
                        height: 50px;
                    }
                }

            }

            div.img{
                position: relative;
                display: flex;
                justify-content: space-evenly;
                top: -350px;
                left: -130px;
                width: 1000px;

                img{
                    display: flex;
                    width: 100px;
                }
            }

            img.img{
                display: inline-block;
                position: relative;
                width: 50%;
                left: -630px;
                top: -400px;
                height: 400px;
            }
            div.div{
                position: relative;
                display: inline-block;
                background-color: rgb(0, 212, 113);
                width: 50%;
                height: 400px;

                h1{
                    position: relative;
                    left: -100px;
                    top: 20px;
                    font-family: bold;
                    color: white;
                    line-height: 60px;
                }
                p{
                    position: relative;
                    left: -100px;
                    top: 30px;
                    font-family: thin;
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                    line-height: 40px;  
                }
                form{

                    input{
                        position: relative;
                        left: -150px;
                        top: 10px;
                        width: 240px;
                        height: 50px;
                        font-family: thin;
                        font-size: 19px;
                        border: none;
                        background-color: transparent;
                        border-bottom: 1px solid #fff;
                    }
                }
                a.link{
                    position: relative;
                    background-color: white;
                    display: inline-block;
                    left: -420px;
                    top: -40px;
                    color: rgb(0, 212, 0);
                    width: 120px;
                    height: 50px;
                    border-radius: 7px;
                    padding: 10px;
                    padding-right: 22px;
                    font-family: bold;
                }
                a.snapp{
                    display: inline-block;
                    position: relative;
                    top: 30px;
                    width: 250px;
                    height: 50px;
                    border: 1px solid white;
                    border-radius: 7px;
                    padding: 10px;
                    padding-right: 35px;
                    color: white;
                    font-family: bold;
                }
            }
            nav{
                position: sticky;
                top: 30px;
                right: 40px;
                width: 80%;
                height: 100px;
                display: flex;
                justify-content: space-between;
                background-color: #fff;

                ul.li{
                    display: flex;
                    justify-content: space-between;
                    width: 90%;
                    font-size: 17px;
                    

                    li.icon{
                        
                        a{
                            color: green;
                        font-family: bold;
                        font-size: 22px;
                        }
                    }
                    li{

                        a{
                            color: rgb(122, 122, 122);
                            font-family: thin;
                        }
                    }
                }
            }
        }
    }
}